<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.mybatisplus.mapper.AuAwardsMapper">

    <resultMap id="BaseResultMap" type="com.ws.mybatisplus.entity.AuAwards">
            <id property="awardId" column="award_id" jdbcType="INTEGER"/>
            <result property="awardFixedId" column="award_fixed_id" jdbcType="INTEGER"/>
            <result property="awardOperativeFrom" column="award_operative_from" jdbcType="DATE"/>
            <result property="awardOperativeTo" column="award_operative_to" jdbcType="DATE"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="lastModifiedDatetime" column="last_modified_datetime" jdbcType="TIMESTAMP"/>
            <result property="publishedYear" column="published_year" jdbcType="VARCHAR"/>
            <result property="versionNumber" column="version_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        award_id,award_fixed_id,award_operative_from,
        award_operative_to,code,name,
        last_modified_datetime,published_year,version_number
    </sql>
</mapper>
