<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.BizVendorExchangeDetailMapper">

    <resultMap id="BaseResultMap" type="generator.domain.BizVendorExchangeDetail">
            <id property="requestId" column="request_id" jdbcType="VARCHAR"/>
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="requestContent" column="request_content" jdbcType="OTHER"/>
            <result property="responseContent" column="response_content" jdbcType="OTHER"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        request_id,id,request_content,
        response_content,tenant_id
    </sql>
</mapper>
